.projects
{
    width: 100%;
    height: fit-content;
    
    margin: 0;
    padding: 0;
    /*padding-bottom: 2em;*/

    scroll-margin-top: 7em;

    background-color: white;

    /*
    border-top-style: ridge;
    border-color: rgb(205, 38, 35);
    */
}

.featured-projects
{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slide
{
    width: clamp(20em, 100%, 125em);
    height: 50em;
}

.carousel-inner, .carousel-item, .carousel-item-next, .carousel-item-start, .active
{
    height: 100%;
}

.carousel-item.active
{
    overflow: hidden;
}

.carousel-item > img
{
    height: 100%;
    object-fit: cover;
}

.carousel-caption
{
    left: 0;
    right: 0;
    height: fit-content;

    padding-bottom: 3em;
}

.carousel-caption-content
{
    width: fit-content;
    min-width: 10em;
    max-width: 50em;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;


    text-align: justify;
    text-align-last: left;
}

.carousel-caption-content > p
{
    padding: 0;
    margin: 0;

    color: white;
    font-weight: bold;
    font-size: 1em;
}

.carousel-caption-content > button
{
    margin-right: 1em;
    padding: 3em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    background-color: var(--c-blue);

    font-weight: bold;
    color: white;
    white-space: nowrap;

    border: none;
    border-radius: 0.5em;
    outline: transparent solid 0.2em;

    transition: 0.05s linear;
}

.carousel-caption-content > button:hover
{
    outline: var(--c-blue-light) solid 0.15em;
}

.carousel-control-next, .carousel-control-prev
{
    width: 10%;
    transition: 0.15s ease;
}

.carousel-control-next:hover, .carousel-control-prev:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-indicators [data-bs-target]
{
    height: 1em;
    width: 1em;

    margin-left: 0.3em;
    margin-right: 0.3em;

    border-radius: 100%;
}