.AboutSection
{
    width: 100%;
    height: fit-content;

    margin: 0;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*
    background-image: url('../Images/AboutBackground.png');
    background-size: auto;
    background-repeat: repeat;
    */

    overflow: hidden;
}

.AboutSection-content
{
    width: fit-content;
    height: fit-content;
    min-width: 35em;
    max-width: 50em;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(2px);
}

.AboutSection-textBox
{
    text-align: justify;
    text-align-last: center;
}

.AboutSection-content img
{
    height: 20em;
    width: auto;
    padding: 0;
    margin: 0;
}

.AboutSection-textBox p, h1
{
    color: black;
    font-weight: normal;
}

.AboutSection-textBox > h1
{
    font-weight: bold;
}

.AboutSection-content img:hover
{
    animation: wiggle 4s infinite;
}

.AboutSection-technologies
{
    min-width: 20em;
    max-width: 40em;
    width: fit-content;
    height: fit-content;

    padding: 1em;
    
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(2px);

    border-top-style: ridge;
    border-color: rgb(205, 38, 35);
}

.AboutSection-technologies img
{
    height: 5em;
    width: auto;
    scale: 1;
    transition: 0.25s;
}

.AboutSection-technologies img:hover
{
    scale: 1.2;
}