.about
{
    width: 100%;
    height: fit-content;

    padding: 1em;
    padding-top: 8em;
    padding-bottom: 3em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.about > img
{
    width: 30em;
    height: auto;
}

.about > img:hover
{
    animation: wiggle 4s infinite;
}

.about-infobox
{
    height: fit-content;
    max-width: 30em;

    text-align: justify;
    text-align-last: center;
}

.about-infobox > h1
{
    font-weight: bold;
}

.about-infobox > p
{
    color: var(--c-gray-light);
    font-weight: bold;
}

.about-infobox-technologies
{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 1em 0 1em;
}

.about-infobox-technologies > img
{
    height: 4em;
    width: auto;
    scale: 1;
    transition: 0.25s;
}

@media only screen and (orientation: portrait)
{
    .about
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .about > img
    {
        width: 20em;
    }
}