.footer
{
    width: 100%;
    height: fit-content;

    padding: 3em;

    overflow: hidden;

    background-color: var(--c-blue-light);
}

.footer > p, h2
{
    color: black;
    font-weight: bold;
}