:root
{
    --navabar-side-padding: clamp(1em, 12em, 12em);
}

.Navbar
{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 100%;
    width: calc(100% - calc(var(--navabar-side-padding) * 2));
    height: 4.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    background-color: rgb(205, 38, 35);
    /*background-color: rgb(36, 145, 234);*/
    /*background-color: rgb(134, 74, 252);*/
    padding: 0.5em;
    padding-left: var(--navabar-side-padding);
    padding-right: var(--navabar-side-padding);
}

.Navbar-left
{
    height: 100%;
    width: fit-content;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-right
{
    height: 100%;
    width: 100%;
    
    margin: 0;
    margin-left: 1em;
    padding: 0;
    
    display: flex;
    justify-content: end;
}

.Navbar img
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.Navbar p
{
    display: inline-block;
    align-content: center;

    margin: 0;
    padding: 0;
    
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.Navbar button
{
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;

    background-color: transparent;
    color: white;
    border: none;

    font-size: 1.1em;
    font-weight: bold;
}

.Navbar button:hover
{
    animation: wiggle 2s infinite;
}

@keyframes wiggle {
    16% {transform: rotate(-10deg); color: white;}
    32% {transform: rotate(10deg); color: rgb(255, 191, 191);}
    48% {transform: rotate(0deg);}
    64% {transform: rotate(-10deg); color: rgb(255, 191, 191);}
    80% {transform: rotate(10deg); color: white;}
    100% {transform: rotate(0deg);}
}