:root
{
  --c-blue: #0088f0;
  --c-blue-light: #81c8ff;
  --c-red: rgb(205, 38, 35);
}

.appBody
{
  text-align: center;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/